 /*
 As good practice we have 2 css files, an App.css and index.css
 The App.css is for the App component goes into the App.css
 All the css for the overall website should go into the index.css
 */

.app-container {
  max-width: 600px; /*this limits the size of the display instead of whole app taking up space*/
  margin-left: auto;
  margin-right: auto; /*the auto for left/right will automatically add space so that it is center*/
  
  height: 100vh; /*vh is viewport height (hight of the browser that is visible), this allows 
                the App container to strech 100% of the height*/
  display: flex;
  flex-direction: column; /*this postions the element by colum (vertically) rather than row(horizontally)*/
}

